body{
    font-family:Arial,sans-serif;
    background-color: aqua;
    margin:0;
    padding:0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: blue;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;  
    margin-right: 10px;
}
 